process.container = 'nong/pipeone_nm:230217'
// process.container = 'nong/ubuntu_conda_lncrna_tmp:1214'
 
docker {
  enabled = true
  autoMounts =true
  fixOwnership = true
  // runOptions = "--user root"
  // runOptions = 'umask 0000'
  // runOptions = '--user \$(id -u):\$(id -g)'
}

params {

  ciri_path = "/opt/CIRI-full_v2.0"
  // signalp_path = "/opt/signalp-4.1g"
  // tmhmm_path = "/opt/tmhmm-2.0c"
 // rnammer_path = "/opt/rnammer-1.2"

}


