
params {
  // Genomes reference file paths
  genomes {

    "fish_test" {
      
      refgenome = "/public5/lisj/Genome/GCA_019924925.1_HZGC01_genomic.fna"
  
      ref_miRNA = '/public5/lisj/FishmiRNA-June2021-dre-mature.fasta'
      uniprot = "${baseDir}/Trinotate/uniprot_sprot.pep"
      pfam = "${baseDir}/Trinotate/Pfam-A.hmm"
      sqlite = "${baseDir}/data/Trinotate_20210616.sqlite"
      min_length = 150
    }
    	

  }

  
}

