
params {
  // Genomes reference file paths
  genomes {

    "fish_test" {
      
      refgenome = "/dat1/nbt2/proj/coop/lishijun//GCF_019924925.1_HZGC01_genomic.fna"
  
      ref_miRNA = '/dat1/nbt2/proj/coop/lishijun/FishmiRNA-June2021-dre-mature.fasta'
      uniprot = "${baseDir}/Trinotate/uniprot_sprot.pep"
      pfam = "${baseDir}/Trinotate/Pfam-A.hmm"
      sqlite = "${baseDir}/data/Trinotate_20210616.sqlite"
      min_length = 150
    }
    	

  }

  
}

